<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663593719027-fmafo1fcmqlhf5mbghsnhehm167jle99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663593719027-fmafo1fcmqlhf5mbghsnhehm167jle99</string>
	<key>API_KEY</key>
	<string>AIzaSyDpIPE30Oh74yVz9RO-8ExArTTTkL3-44o</string>
	<key>GCM_SENDER_ID</key>
	<string>663593719027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.motasimfuad.getx.practice</string>
	<key>PROJECT_ID</key>
	<string>authentication-with-fire-3e697</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-with-fire-3e697.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663593719027:ios:4af4d35c27de4e6b5d9386</string>
</dict>
</plist>